<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elgeekman.alejandro.tracksubscriptions">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GoogleSignInActivity">

        </activity>
        <activity android:name=".ShowStudentDetailsActivity" />
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".BroadcastManager"
            android:label="BroadcastReceiverAux">
            <intent-filter>
                <action android:name="ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".email"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".miperfil" />
        <activity android:name=".estadisticas"></activity>
        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>